button {
    border: 0;
    background: none;
    padding: 0;

    margin: 2px;

    opacity: 0.7;
}

button:hover {
    opacity: 1;
}

button:focus {
    outline: 0;
}

table.button {
    border-spacing: 0;
    height: 23px;
    color: #ccbd7b;
    text-shadow: 0 1px #000000;
}

table.button td {
    padding: 0;
}

td.button-left {
    background-image: url('left.png');
    width: 8px;
}

td.button-middle {
    background-image: url('middle.png');
    width: 80px;
}

td.button-right {
    background-image: url('right.png');
    width: 8px;
}

button.close {
    opacity: 1;
    text-align: center;
    border: 1px solid #986a20;
    width: 18px;
    height: 18px;
    display: block;
    margin: 1px 1px 1px auto;
}


button.close:hover{
    background-color: #86603a;
}