.quest-log-item {
    margin-bottom: 5px;
}

ul.task-status {
    padding-left: 20px;
}

li.complete {
    color: wheat;
}

li.failed {
    color: firebrick;
}

.quest-icon-acceptable, .quest-icon-completable, .quest-icon-completable-later {
    text-shadow: 0 0 1px black;
}

.quest-icon-acceptable, .quest-icon-completable {
    color: #ffff00;
}

.quest-icon-completable-later {
    color: #c0c0c0;
}

.panel.interaction {
    margin: 5px;
    background: url("./paper.png");
    color: #6e4d31;
    height: 220px;
}

.panel.interaction .content {
    height: 160px;
    overflow-y: auto;
}

.panel.interaction h2, .panel.interaction h3 {
    color: #000000;
}

.panel .content {
    padding: 5px;
}

.panel .actions {
    position: absolute;
    bottom: 3px;
    margin-bottom: 5px;
}

.toolbar {
    height: 22px;
}

.toolbar h2 {
    display: inline-block;
    font-size: 12px;
    margin-left: 5px;
}