.quest-log-item {
    margin-bottom: 5px;
}

ul.task-status {
    padding-left: 20px;
}

li.complete {
    color: wheat;
}

li.failed {
    color: firebrick;
}

.quest-icon-acceptable, .quest-icon-completable {
    color: #ffff00;
}

.quest-icon-completable-later{
    color: #c0c0c0;
}